html {
  font-size: 1.5em;
  line-height: 1.4;
}

body{
  background-image: url("http://localhost:3001/brotes.jpg");
  background-size: cover;
  background-blend-mode: lighten;
  background-attachment: fixed;
  background-color: rgba(200, 200, 200, 0.4);
  overflow-x: hidden;

}

.catalog{
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

.card {
  width: 100rem;
  padding: 20px;
  margin: 10px;
  min-width: 10rem;
}
